.privacy {
  margin: auto;
  margin-top: 80px;
  padding: 1rem;
  max-width: 1200px;
  width: calc(100% - 2rem);
  &__title {
    background: #00b4db;
    background: linear-gradient(to right, #00b4db, #0083b0);
    padding: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    color: #fafafa;
  }

  &__content {
    font-weight: 600;
    background: #fafafa;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #363636;
    line-height: 1.5;
    b {
      font-weight: 700;
    }
    h2,
    a {
      color: #363636;
    }
    h2:first-child {
      margin-top: 0;
    }
  }
}
