.privacy {
  margin: auto;
  margin-top: 80px;
  padding: 1rem;
  max-width: 1200px;
  width: calc(100% - 2rem);
  &__title {
    background: var(--blue-3);
    background: #0083b0;
    padding: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    color: var(--gray-1);
  }

  &__content {
    font-weight: 600;
    background: var(--gray-1);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--black-2);
    line-height: 1.5;
    b {
      font-weight: 700;
    }
    h2,
    a {
      color: var(--black-2);
    }
    h2:first-child {
      margin-top: 0;
    }
  }
}
