.test__effects {
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  &__btn {
    border: 0;
    padding: 1rem;
    width: 100%;
    background: var(--gray-3);
    color: var(--black-1);
    font-weight: 600;
    cursor: pointer;
    svg {
      padding-left: 0.75rem;
    }

    &.showed {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__content {
    display: flex;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--green {
      color: var(--gray-1);
      background: #2abb9b;
    }

    &--red {
      color: var(--gray-1);
      background: #d24d57;
    }
    &__type {
      display: flex;
      justify-content: center;
      padding: 1rem;
      font-weight: 700;
      text-transform: uppercase;

      &--green {
        color: var(--gray-1);
        background: #16a085;
      }

      &--red {
        color: var(--gray-1);
        background: #d64541;
      }
    }
  }

  &__list {
    width: 100%;
    &--green {
      color: var(--gray-1);
      background: #2abb9b;
    }
    &--red {
      color: var(--gray-1);
      background: #d24d57;
    }
  }
}

.test__effect {
  padding: 1rem 0.5rem;
  width: calc(100% - 1rem);
  font-weight: 600;
  text-align: center;
}
