.test__info {
  padding: 1rem;
  background: #00b4db;
  background: linear-gradient(to right, #00b4db, #0083b0);
  color: #fafafa;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
