.test__info {
  padding: 1rem;
  background: var(--blue-3);
  background: #0083b0;
  color: var(--gray-1);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
