.app {
  font-family: Montserrat;
  color: var(--black-1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;

  &__router {
    transition: right 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.block--blur {
      transition: right 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}
