.history {
  margin: auto;
  margin-top: 80px;
  padding: 1rem;
  max-width: 40rem;

  &__title {
    text-align: center;
    margin: 0;
    padding: 1rem;
    background: #ececec;
    border-radius: 0.5rem;
  }

  &__list {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    &__error {
      padding: 1rem;
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
      background: #f5f5f5;
      border-radius: 0.5rem;
    }
  }

  &__el {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    overflow: hidden;
    &__info {
      background: #f5f5f5;
      text-decoration: none;
      width: 100%;
      padding: 1rem;
      color: #00b4db;
    }
    &__btn {
      background: #ececec;
      border: 0;
      padding: 1rem;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      svg {
        color: #cd3944;
      }
      &:hover {
        background: #cd3944;
        svg {
          color: #ececec;
        }
      }
    }
  }

  &__form {
    margin-top: 2rem;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    input {
      background: #f5f5f5;
      border: 0;
      padding: 1rem;
      width: 100%;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    button {
      padding: 1rem;
      border: 0;
      color: #fafafa;
      background: #2abb9b;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        background: #16a085;
      }
    }
  }
}
