.home__hero {
  position: relative;
  height: 80vh;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background: #00313C;
    max-width: unset !important;
  }
  &__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__container {
    padding: 1rem;
    z-index: 1;
  }
  &__title {
    padding-bottom: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: auto;
    width: 90vw;
    max-width: 30rem;
  }
  &__btn {
    border: 0;
    background: #fafafa;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    color: #111;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease-in-out;
    &:hover {
      color: #00b4db;
      transform: scale(1.05);
    }
    &:active {
      color: #00b4db;
      transform: scale(1.025);
    }
  }
}
