.results__actions {
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;

  .kofi-btn-container {
    display: flex;

    .kofi-button {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-shadow: none;
    }
  }

  &__like {
    padding: 1rem;
    background: var(--gray-2);
    border: 0;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      border: none;
      overflow: hidden;
    }
  }

  &__share {
    font-weight: 600;
    display: flex;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--gray-3);
      padding: 1rem;
      font-size: 1.2rem;
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }
    input {
      padding: 1rem;
      background: var(--gray-2);
      color: var(--black-1);
      border: 0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      width: 100%;
      @media only screen and (min-width: 1200px) {
        box-sizing: border-box;
        max-width: calc(100% - 3rem);
      }
    }
  }

  &__ideologies {
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--black-1);
    background: var(--gray-3);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
    svg {
      margin-left: 0.5rem;
    }
    &:hover {
      color: var(--blue-3);
    }
  }
}

@media only screen and (min-width: 768px) {
  .results__actions {
    grid-template-columns: 1fr 1fr;
  }
}
