.home__footer {
  background: #f5f5f5;
  color: #111;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
  margin-top: auto;

  &__section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;

    &:first-child {
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(140, 140, 140, 0.25);
    }

    &:last-child {
      padding-top: 2rem;
    }

    a {
      color: #777777;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    margin: auto;
    color: #777777;
    font-weight: 600;
    a {
      font-weight: 700;
    }
  }

  &__list {
    list-style: none;
    display: inline-block;
    align-items: center;
    padding-left: 0;
    justify-content: space-around;
    margin: auto 0;

    li {
      margin-bottom: 0.5rem;
    }

    a, li {
      display: inline-flex;
      align-items: center;
      &:not(:first-child) {
        padding-left: 1rem;
      }
    }
  }

  &__logo {
    height: 2rem;
    margin: auto;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .home__footer__section {
    flex-direction: row;
  }

  .home__footer__logo {
    padding-bottom: 0;
  }
}
