$white: #FFF;
$black: #000;
$black-1: #111;
$gray-1: #FAFAFA;
$gray-2: #F5F5F5;
$gray-3: #ECECEC;
$blue-1: #00B3DB;
$blue-2: #00A1C6;
$blue-3: #00b4db;

.app {
  min-height: 100vh;
  --white: #{$white};
  --black: #{$black};
  --black-1: #{$black-1};
  --gray-1: #{$gray-1};
  --gray-2: #{$gray-2};
  --gray-3: #{$gray-3};
  --blue-1: #{$blue-1};
  --blue-2: #{$blue-2};
  --blue-3: #{$blue-3};
}

.app, main {
  background: var(--white);
}

.app.dark {
  --white: #{invert($white)};
  --black: #{invert($black)};
  --black-1: #{invert($black-1)};
  --gray-1: #{invert($gray-1)};
  --gray-2: #{invert($gray-2)};
  --gray-3: #{invert($gray-3)};
  --blue-1: #{darken($blue-1, 40%)};
  --blue-2: #{darken($blue-2, 40%)};
  --blue-3: #{darken($white, 20%)};

  .home__hero__overlay {
    background: $black;
  }

  .home__stats__el__info {
    color: #{darken($white, 20%)};
  }

  .home__info__card, .test__answer, .axes, .test__effects__content, .results-ad-buttons, .results__actions__like iframe {
    filter: brightness(75%);
  }

  .darkmode-bw-image {
    filter: brightness(0);
  }

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  img, ins {
    filter: brightness(85%);
  }
}
