.home__ideologies {
  padding: 2rem 1rem;
  background: #f5f5f5;

  &__title {
    color: #111;
    margin: 0;
    padding-bottom: 2rem;
    line-height: 1.2;
  }

  &__list,
  &__inner {
    display: grid;
    grid-gap: 1rem;
  }

  &__axis {
    display: grid;
    width: 100%;

    &__icon {
      grid-area: Icon;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
      color: #fafafa;
      &.big {
        font-size: 2rem;
        font-weight: 900;
      }
    }

    &__title {
      grid-area: Title;
    }

    &__description {
      grid-area: Description;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      padding: 1rem;
      line-height: 1.2;
    }

    &__title,
    &__description {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: #fff;
    }

    &:first-child {
      grid-template-areas:
        "Icon Title"
        ". Description";
      grid-template-columns: 3.5rem auto;

      .home__ideologies__axis__icon {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      .home__ideologies__axis__title {
        border-top-right-radius: 0.5rem;
      }
    }

    &:last-child {
      grid-template-areas:
        "Title Icon"
        "Description .";
      grid-template-columns: auto 3.5rem;

      .home__ideologies__axis__icon {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      .home__ideologies__axis__title {
        border-top-left-radius: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home__ideologies {
    padding: 2rem;

    &__list,
    &__inner {
      grid-gap: 2rem;
    }
  }

  .home__ideologies__axis {
    width: 66%;
    font-size: 1.2rem;
    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      margin-left: auto;
    }
  }
}
